.viajes__elemento {
    display: flex;
    margin: 64px 0;
    gap: 20px;
}
.viajes__elemento__destino {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    
}
.viajes__informacion__titulo {
    margin: 112px 0;
}
.viajes__titulo {
    margin-top: 10px;
    color: var(--grafito);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
.viajes__texto {  
margin: 10px 0;
font-size: 20px;
font-weight: normal;
font-style: normal;
line-height: normal;
text-align: start;
}

.viajes__card--boton {
    margin-top: 10px;
    border-radius: 8px;
    background: var(--rojo, #B81515);
    padding: 15px 45px;
    box-sizing: border-box;
    display: inline-block;
}

.viajes__card--boton-texto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    color: var(--blanco, #FFF);
}

.pago {

}
.pago__elementos{
    display: flex;
}
.pago__elementos__informacion {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
width: 35%;
}

.pago__elementos__imagenes{
    width: 65%;
    display: flex;
    flex-direction: column;
}
.pago__elementos__imagenes__japon {
display: flex;
gap: 20px;
margin-bottom: 20px;

}

.pago__imagenes {
    width: 100%;
    
}
.pago__titulo {
    margin: 10px 0;
    font-size: 30px;
}

.pago__subtitulo {
    font-size: 25px;
}